{{yield}}
<article class="post">
    <div class="article-content">
        <h2>{{ @post.title }}</h2>
        <h3>Id: {{ @post.id }}</h3>
        <p>{{ @post.body }}</p>
        <div class="back link" {{on "click" this.toggleDetail}}>Back to Posts</div>
    </div>
    <div class="user-info">
        <h3>User Info</h3>
        <h4 class="name">{{ @user.name }}</h4>
        <span class="label">Email:</span>
        <a class="email" href="mailto:{{ @user.email }}">{{ @user.email }}</a>
        <span class="label">Phone:</span>
        <span class="value phone">{{ @user.phone }}</span>
        <span class="label">Website:</span>
        <a class="website" href="//{{ @user.website }}">{{ @user.website }}</a>
        <span class="address">
            {{@user.address.street}} {{@user.address.suite}}<br />
            {{@user.address.city}} {{@user.address.zipcode}}<br />
        </span>
    </div>
</article>
