{{yield}}
<article class="post">
    <div class="article-inner">
        <div class="close" {{on "click" this.args.toggleDetail}}>x</div>
        <h2>{{ @post.title }}</h2>
        <h3>Id: {{ @post.id }}</h3>
        <p>{{ @post.body }}</p>
    </div>
</article>
