<!-- <Posts
    @posts={{@model.posts}}
/> -->
<ul class="posts">
    {{#each this.model.posts as |post index|}}
    <li {{ on "click" (fn this.toggleDetail post) }}>{{ post.id }} - {{ post.title }}</li>
    {{/each}}
</ul>
<div class="pagination">
    <!-- <button {{ on "click" this.previous }}>Previous</button> -->
    {{ this.currentPage }} / {{ this.totalPages }}
    <!-- <button {{ on "click" this.next }}>Next</button> -->
</div>


{{#if this.showDetail}}
<Post
    @post={{post}}
    @toggleDetail={{this.toggleDetail}}
/>
{{/if}}
